.report {
    display: flex;
    justify-content: center;
    align-items: center;
    
    ol {
        padding: 20px;
        align-self: flex-start;
        overflow-y: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        input, textarea, select, button {
            margin-bottom: 20px;
        }
    }

}