.report {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .report__div-project-list {
        padding: 20px;
        align-self: flex-start;
        overflow: auto;

        position: absolute; // take project-list out of flow to allow form to properly center
        max-height: 100%; // ensures that scroll can happen when the position is absolute
        top: 0;
        right: 75%;
        min-width: 150px;

        select {
            margin-bottom: 20px;
        }

        button {
            background-color: transparent;
            border: none;
        }

        button:hover, button:focus {
            border-bottom: 1px solid black;
            margin-bottom: -1px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        input, textarea, select, button {
            margin-bottom: 20px;
        }

        .report__div-lbl-inpt {
            margin-left: 10px;
            margin-right: 10px;
        }

        textarea {
            resize: none;
            height: 150px;
        }
    }

    .report__div-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .report__div-lbl-inpt {
            display: flex;
            flex-direction: column;
            min-width: 300px;
        }
    }

}