@media (max-width: $mobile-width) {
    .report {
        flex-direction: column;
        
        .report__div-project-list {
            order: 10;
            align-self: inherit;
            position: static;
        }

        form {
            width: auto;
        }
    }

    header .header__div-img-speech p {
        font-size: calc(2px + 2vmin);
    }
}
