.submit {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        min-width: 300px;

        input, textarea, button, select {
            margin-bottom: 20px;
        }

        textarea {
            resize: none;
            height: 150px;
        }

        button {
            @include std-button;
        }

        button:hover, button:focus {
            @include std-button--hover;
        }
    }
    

}