.submit {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        input, textarea, button, select {
            margin-bottom: 20px;
        }
    }

}