$brand-color: #fff;
$primary-color: #101D42;
// $secondary-color: <not assigned>;
// $support-color: <not assigned>;

// wrapper max width
$max-width: 1280px;

// responsive breakpoints
$mobile-width: 900px;
