$brand-color: #fff;
$primary-color: #101D42;
$secondary-color: #101D42;
// $support-color: <not assigned>;

// wrapper max width
$max-width: 1280px;

// responsive breakpoints
$mobile-width: 900px;

@mixin std-button {
    padding: 7px;
    background-color: $primary-color;
    color: #FFF;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

@mixin std-button--hover {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}

@mixin std-button-invert {
    padding: 7px;
    background-color: transparent;
    color: #000;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

@mixin std-button-invert--hover {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid $primary-color;
}